bin/
obj/
*.vs10x
*.user
*.suo
_ReSharper*
*.vspscc
TestResults/
*.dotCover
*.docStates
*.vssscc
_Bin.*
*.pidb
*.pdsync
*.pdsyncu
*.pdsyncu
*.ini
_Tools/
*.DotSettings
.localhistory
*.ide
.vs/
/SimpleUpdater/FSLib.App.SimpleUpdater/*.csdat
/SimpleUpdater/FSLib.App.SimpleUpdater.Generator/*.csdat
